<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="home_right">
<head>
    <meta charset="UTF-8">
    <title>Home Right</title>
</head>
<body>
<!-- Home Right -->
<div class="col-md-3 d-none d-md-block mt-3">
    <div class="card p-3">
        <h5 class="font-weight-semibold">Suggestions for you</h5>
        <hr>
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center mb-3 gap-2">
                <img src="https://upload.wikimedia.org/wikipedia/vi/1/12/Kenshi_Yonezu_-_Lemon.png" alt="Avatar" class="rounded-circle mr-3"
                     style="width: 40px; height: 40px;">
                <div>
                    <strong>Suggested User</strong>
                    <p class="text-muted mb-0">@suggesteduser</p>
                </div>
            </div>
            <button class="btn btn-primary btn-sm ml-auto mb-4">Follow</button>
        </div>
        <!-- Add more suggestions here -->
    </div>
</div>
</body>
</html>